/* line 5, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
*, ::after, ::before {
  box-sizing: border-box;
}

/* line 5, ../sass/_base.scss */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  /* line 5, ../sass/_base.scss */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* line 5, ../sass/_base.scss */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/_base.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../sass/_base.scss */
  .container {
    max-width: calc(100% - 200px);
  }
}
@media (min-width: 2100px) {
  /* line 5, ../sass/_base.scss */
  .container {
    max-width: calc(100% - 450px);
  }
}

/* line 28, ../sass/_base.scss */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* line 35, ../sass/_base.scss */
.row.collumn {
  flex-direction: column;
}
/* line 38, ../sass/_base.scss */
.row.align-center {
  align-items: center;
}
/* line 41, ../sass/_base.scss */
.row.align-start {
  align-items: flex-start;
}
/* line 44, ../sass/_base.scss */
.row.align-end {
  align-items: flex-end;
}
/* line 47, ../sass/_base.scss */
.row.justify-content-between {
  justify-content: space-between;
}
/* line 50, ../sass/_base.scss */
.row.justify-content-around {
  justify-content: space-around;
}
/* line 53, ../sass/_base.scss */
.row.justify-content-evenly {
  justify-content: space-evenly;
}
/* line 56, ../sass/_base.scss */
.row.justify-content-end {
  justify-content: flex-end;
}
/* line 59, ../sass/_base.scss */
.row.justify-content-center {
  justify-content: center;
}

/* line 64, ../sass/_base.scss */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  /* line 71, ../sass/_base.scss */
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  /* line 79, ../sass/_base.scss */
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

@media (min-width: 768px) {
  /* line 87, ../sass/_base.scss */
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 768px) {
  /* line 95, ../sass/_base.scss */
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  /* line 103, ../sass/_base.scss */
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 768px) {
  /* line 111, ../sass/_base.scss */
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 768px) {
  /* line 119, ../sass/_base.scss */
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  /* line 127, ../sass/_base.scss */
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) {
  /* line 135, ../sass/_base.scss */
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) {
  /* line 143, ../sass/_base.scss */
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  /* line 151, ../sass/_base.scss */
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  /* line 159, ../sass/_base.scss */
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

/* line 167, ../sass/_base.scss */
.mt-1 {
  margin-top: 1rem;
}

/* line 170, ../sass/_base.scss */
.mt-2 {
  margin-top: 2rem;
}

/* line 173, ../sass/_base.scss */
.mt-3 {
  margin-top: 3rem;
}

/* line 176, ../sass/_base.scss */
.mt-4 {
  margin-top: 4rem;
}

/* line 179, ../sass/_base.scss */
.mt-5 {
  margin-top: 5rem;
}

/* line 182, ../sass/_base.scss */
.mt-6 {
  margin-top: 6rem;
}

/* line 185, ../sass/_base.scss */
.pt-1 {
  padding-top: 1rem;
}

/* line 188, ../sass/_base.scss */
.pt-2 {
  padding-top: 2rem;
}

/* line 191, ../sass/_base.scss */
.pt-3 {
  padding-top: 3rem;
}

/* line 194, ../sass/_base.scss */
.pt-4 {
  padding-top: 4rem;
}

/* line 197, ../sass/_base.scss */
.pt-5 {
  padding-top: 5rem;
}

/* line 200, ../sass/_base.scss */
.pt-6 {
  padding-top: 6rem;
}

/*
    ---- Form ----
*/
/* line 209, ../sass/_base.scss */
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  font-size: inherit;
}

/* line 226, ../sass/_base.scss */
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}
/* line 230, ../sass/_base.scss */
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
/* line 233, ../sass/_base.scss */
.form-check .form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
/* line 236, ../sass/_base.scss */
.form-check .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
/* line 241, ../sass/_base.scss */
.form-check .form-check-input[type="checkbox"] {
  border-radius: .25em;
}

/* line 245, ../sass/_base.scss */
.none {
  display: none;
}

@font-face {
  font-family: "Marianne-regular";
  src: url("../typo/Marianne-Regular.woff2");
}
@font-face {
  font-family: "Marianne-bold";
  src: url("../typo/Marianne-Bold.woff2");
}
@font-face {
  font-family: "Marianne-light";
  src: url("../typo/Marianne-Light.woff2");
}
/* line 1, ../sass/_buttons.scss */
.btn {
  padding: 15px 38px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 90px;
  font-family: "Marianne-regular", sans-serif;
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  display: inline-block;
  cursor: pointer;
}
/* line 10, ../sass/_buttons.scss */
.btn img {
  vertical-align: middle;
  margin-left: 15px;
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
/* line 15, ../sass/_buttons.scss */
.btn.btn-red {
  background-color: var(--rouge-main);
  color: var(--blanc-main);
}
/* line 20, ../sass/_buttons.scss */
.btn:hover img {
  transform: rotate(45deg) translate(10px, -10px);
}

/* line 8, ../sass/app.scss */
:root {
  --noir-main: #1F1F1F;
  --blanc-main: #FFFFFF;
  --gris-main: #D9D9D9;
  --bleu-main: #3A60C4;
  --bleu-fonce: #010041;
  --vert-main: #52CE34;
  --rouge-main: #E30613;
}

/* line 18, ../sass/app.scss */
body {
  overflow-x: hidden;
  background-color: var(--bleu-fonce);
}

/* line 22, ../sass/app.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/app.scss */
h1 {
  color: var(--blanc-main);
}

/* line 28, ../sass/app.scss */
h2 {
  color: var(--blanc-main);
}

/* line 31, ../sass/app.scss */
h3 {
  color: var(--blanc-main);
}

/* line 34, ../sass/app.scss */
h4 {
  color: var(--blanc-main);
}

/* line 37, ../sass/app.scss */
p {
  font-family: "Marianne-regular", sans-serif;
  font-size: 1.2rem;
  color: var(--blanc-main);
}

/* line 43, ../sass/app.scss */
#maze_output {
  color: var(--blanc-main);
}

/* line 46, ../sass/app.scss */
.logo-crous {
  position: absolute;
  max-width: 85px;
  max-height: 85px;
  left: 50px;
  top: 50px;
}

/* line 53, ../sass/app.scss */
.index {
  height: 100vh;
}
/* line 55, ../sass/app.scss */
.index .row {
  height: 100%;
}
/* line 57, ../sass/app.scss */
.index .row h1 {
  font-size: 3rem;
  font-family: "Marianne-bold", sans-serif;
  margin-bottom: 64px;
}
/* line 63, ../sass/app.scss */
.index .cloud-1 {
  position: absolute;
  width: 17%;
  right: 22%;
  top: 20%;
}
/* line 69, ../sass/app.scss */
.index .cloud-2 {
  position: absolute;
  bottom: 30%;
  left: 20%;
}

/* line 75, ../sass/app.scss */
.etape-1 {
  width: 100%;
}
/* line 77, ../sass/app.scss */
.etape-1 .cloud-1 {
  position: absolute;
  width: 265px;
  top: 15%;
  cursor: move;
  z-index: 1;
}
/* line 84, ../sass/app.scss */
.etape-1 .flying-text {
  position: absolute;
  top: 22%;
  z-index: 0;
}
/* line 89, ../sass/app.scss */
.etape-1 .cloud-2 {
  position: absolute;
  width: 120px;
  left: 51%;
  top: 10%;
}
/* line 95, ../sass/app.scss */
.etape-1 .cloud-3 {
  position: absolute;
  width: 356px;
  right: -10%;
  bottom: 30%;
}
/* line 101, ../sass/app.scss */
.etape-1 .cloud-4 {
  position: absolute;
  width: 176px;
  bottom: 12%;
  left: 25%;
}
/* line 108, ../sass/app.scss */
.etape-1 .easter-egg {
  position: absolute;
  right: 5%;
  top: 5%;
  color: var(--bleu-fonce);
}
/* line 114, ../sass/app.scss */
.etape-1 .titre {
  margin-top: 80px;
}
/* line 116, ../sass/app.scss */
.etape-1 .titre h1 {
  font-family: "Marianne-regular", sans-serif;
  font-size: 2rem;
  text-align: center;
}
/* line 122, ../sass/app.scss */
.etape-1 .form {
  margin-top: 133px;
}
/* line 124, ../sass/app.scss */
.etape-1 .form .questions {
  height: fit-content;
}
/* line 126, ../sass/app.scss */
.etape-1 .form .questions .question {
  margin-bottom: 80px;
}
/* line 128, ../sass/app.scss */
.etape-1 .form .questions .question h2 {
  font-family: "Marianne-bold", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 16px;
}
/* line 131, ../sass/app.scss */
.etape-1 .form .questions .question h2 span {
  font-size: 0.8rem;
  font-family: "Marianne-light", sans-serif;
}
/* line 137, ../sass/app.scss */
.etape-1 .form .questions .question #Q1 {
  text-transform: uppercase;
}
/* line 140, ../sass/app.scss */
.etape-1 .form .questions .question .check-1 {
  width: 54px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--bleu-main);
  border: none;
  cursor: pointer;
}
/* line 147, ../sass/app.scss */
.etape-1 .form .questions .question .check-1 svg {
  color: var(--blanc-main);
}
/* line 150, ../sass/app.scss */
.etape-1 .form .questions .question .check-1.green {
  background-color: var(--vert-main);
}
/* line 153, ../sass/app.scss */
.etape-1 .form .questions .question .check-1.red {
  background-color: var(--rouge-main);
}
/* line 158, ../sass/app.scss */
.etape-1 .form .questions .question .check-2 {
  width: 54px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--bleu-main);
  cursor: pointer;
  border: none;
}
/* line 165, ../sass/app.scss */
.etape-1 .form .questions .question .check-2 svg {
  color: var(--blanc-main);
}
/* line 168, ../sass/app.scss */
.etape-1 .form .questions .question .check-2.green {
  background-color: var(--vert-main);
}
/* line 172, ../sass/app.scss */
.etape-1 .form .questions .question .check-2.red {
  background-color: var(--rouge-main);
}
/* line 176, ../sass/app.scss */
.etape-1 .form .questions .question .check-3 {
  width: 54px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--bleu-main);
  cursor: pointer;
  border: none;
}
/* line 183, ../sass/app.scss */
.etape-1 .form .questions .question .check-3 svg {
  color: var(--blanc-main);
}
/* line 186, ../sass/app.scss */
.etape-1 .form .questions .question .check-3.green {
  background-color: var(--vert-main);
}
/* line 190, ../sass/app.scss */
.etape-1 .form .questions .question .check-3.red {
  background-color: var(--rouge-main);
}
/* line 194, ../sass/app.scss */
.etape-1 .form .questions .question .wrong {
  color: var(--rouge-main);
  font-size: 0.8rem;
  font-family: "Marianne-light", sans-serif;
}
/* line 199, ../sass/app.scss */
.etape-1 .form .questions .question .wrong-2 {
  color: var(--rouge-main);
  font-size: 0.8rem;
  font-family: "Marianne-light", sans-serif;
}
/* line 204, ../sass/app.scss */
.etape-1 .form .questions .question .wrong-3 {
  color: var(--rouge-main);
  font-size: 0.8rem;
  font-family: "Marianne-light", sans-serif;
}
/* line 212, ../sass/app.scss */
.etape-1 .input {
  justify-content: space-between;
  display: flex;
}
/* line 215, ../sass/app.scss */
.etape-1 .input input {
  width: 90%;
  height: 56px;
  border: 1px solid var(--gris-main);
  border-radius: 8px;
}

/* line 224, ../sass/app.scss */
.curse .cloud-1 {
  position: absolute;
  width: 265px;
  top: 15%;
  z-index: 1;
}
/* line 230, ../sass/app.scss */
.curse .cloud-2 {
  position: absolute;
  width: 120px;
  left: 51%;
  top: 10%;
}
/* line 236, ../sass/app.scss */
.curse .cloud-3 {
  position: absolute;
  width: 356px;
  right: -10%;
  bottom: 30%;
}
/* line 242, ../sass/app.scss */
.curse .cloud-4 {
  position: absolute;
  width: 176px;
  bottom: 12%;
  left: 25%;
}

/* line 250, ../sass/app.scss */
.text-cursed h1 {
  font-size: 1.8rem;
  font-family: "Marianne-regular", sans-serif;
  margin-bottom: 10px;
}
/* line 255, ../sass/app.scss */
.text-cursed h2 {
  font-size: 1.6rem;
  font-family: "Marianne-regular", sans-serif;
  margin-bottom: 100px;
}
/* line 260, ../sass/app.scss */
.text-cursed input {
  width: 90%;
  height: 56px;
  border: 1px solid var(--gris-main);
  border-radius: 8px;
}
/* line 266, ../sass/app.scss */
.text-cursed .col-4 {
  height: 50vh;
  margin-top: 10%;
}
/* line 269, ../sass/app.scss */
.text-cursed .col-4 .input {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
/* line 273, ../sass/app.scss */
.text-cursed .col-4 .input .check-cursed {
  width: 54px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--bleu-main);
  border: none;
  cursor: pointer;
}
/* line 280, ../sass/app.scss */
.text-cursed .col-4 .input .check-cursed svg {
  color: var(--blanc-main);
}
/* line 283, ../sass/app.scss */
.text-cursed .col-4 .input .check-cursed.red {
  background-color: var(--rouge-main);
}

/* line 291, ../sass/app.scss */
.lab .cloud-1 {
  position: absolute;
  width: 265px;
  top: 15%;
  z-index: 1;
}
/* line 297, ../sass/app.scss */
.lab .cloud-2 {
  position: absolute;
  width: 120px;
  right: 10%;
  top: 10%;
}
/* line 303, ../sass/app.scss */
.lab .cloud-3 {
  position: absolute;
  width: 356px;
  right: -10%;
  bottom: 30%;
}
/* line 309, ../sass/app.scss */
.lab .cloud-4 {
  position: absolute;
  width: 176px;
  bottom: 12%;
  left: 10%;
}

/* line 317, ../sass/app.scss */
.text-fin h1 {
  margin-top: 25vh;
  font-size: 2.5rem;
  font-family: "Marianne-bold", sans-serif;
  margin-bottom: 24px;
}
/* line 323, ../sass/app.scss */
.text-fin h2 {
  font-size: 1.5rem;
  font-family: "Marianne-regular", sans-serif;
  margin-bottom: 64px;
}

/* line 330, ../sass/app.scss */
.copyright {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  font-family: "Marianne-light", sans-serif;
}

@media (max-width: 1600px) {
  /* line 3, ../sass/_responsive.scss */
  .lab .cloud-1 {
    z-index: -1;
  }
}
@media (max-width: 1300px) {
  /* line 10, ../sass/_responsive.scss */
  .text-cursed .col-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 1000px) {
  /* line 19, ../sass/_responsive.scss */
  .container {
    margin-left: 10px;
  }

  /* line 23, ../sass/_responsive.scss */
  .etape-1 .cloud-1 {
    top: 11%;
    left: 1%;
  }
  /* line 27, ../sass/_responsive.scss */
  .etape-1 .flying-text {
    top: 20%;
    left: 1%;
  }
  /* line 31, ../sass/_responsive.scss */
  .etape-1 .cloud-2 {
    display: none;
  }
  /* line 34, ../sass/_responsive.scss */
  .etape-1 .cloud-3 {
    width: 200px;
  }

  /* line 39, ../sass/_responsive.scss */
  .curse .cloud-1 {
    display: none;
  }

  /* line 44, ../sass/_responsive.scss */
  .text-cursed .col-4 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 850px) {
  /* line 53, ../sass/_responsive.scss */
  .desktop-none {
    display: none;
  }
}
@media (max-width: 850px) {
  /* line 59, ../sass/_responsive.scss */
  .lab .cloud-1 {
    display: none;
  }
  /* line 62, ../sass/_responsive.scss */
  .lab .cloud-2 {
    display: none;
  }
  /* line 65, ../sass/_responsive.scss */
  .lab .cloud-3 {
    display: none;
  }
  /* line 68, ../sass/_responsive.scss */
  .lab .cloud-4 {
    display: none;
  }

  /* line 73, ../sass/_responsive.scss */
  .maze p {
    display: none;
  }
}
@media (max-width: 700px) {
  /* line 80, ../sass/_responsive.scss */
  .text-cursed .col-4 {
    margin-top: 50%;
  }
}
